# Une introduction pragmatique à SQL pour la géomatique

---
## Cours 5 : SQL raster
---

In [43]:
# Librairies python
import getpass
from sqlalchemy import create_engine

### Connexion à PostGIS

In [44]:
ip = '129.88.175.104'

In [45]:
uid = input('Entrez votre indentifiant :')

Entrez votre indentifiant :fiorinhu

In [47]:
mdp = getpass.getpass('Entrez votre mot de passe :')

Entrez votre mot de passe :········

In [50]:
bd = 'climate'

In [52]:
%load_ext sql
%sql postgresql://$uid:$mdp@$ip/$bd

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

***
## World Climate
Les images raster (.tif, .asc etc.) sont préparées et chargées dans PostGIS grâce à des outils comme [raster2pgsql](https://postgis.net/docs/using_raster_dataman.html#RT_Raster_Loader) et/ou [gdal](https://gdal.org). Dans ce cours nous nous concentrerons sur les requêtes SQL.

Les jeux de données que nous allons utilisés proviennent de la base de données "WorldClim". Par exemple, la moyenne des températures minimales sur la période 1970 - 2000. Ici chaque pixel représente environ 1 $km^2$. La valeur du pixel donne cette température car il s'agit d'un raster mono-bande. Dans un raster multi-bande, à chaque pixel sont associées plusieurs valeurs représentant différentes mesures (températures, précipitations, couleurs etc.)  

Dans PostGIS, chaque enregistrement de une table raster est une dalle de pixels.

In [68]:
%%sql
SELECT st_height(rast) as hauteur, st_width(rast) as largeur
FROM wc21_30s_bio_6_france
WHERE rid = 1; -- identifiant de la dalle

   postgresql://fiorinhu:***@129.88.175.104/bd_fiorinhu
 * postgresql://fiorinhu:***@129.88.175.104/climate
1 rows affected.

[(86, 81)]

Température au centroïde de Grenoble :

In [69]:
%%sql
SELECT nom_com_m, ST_value(rast, st_centroid(geom)) as temp_min
FROM commune, wc21_30s_bio_6_france
WHERE nom_com_m = 'GRENOBLE' AND st_intersects(rast, st_centroid(geom));

   postgresql://fiorinhu:***@129.88.175.104/bd_fiorinhu
 * postgresql://fiorinhu:***@129.88.175.104/climate
1 rows affected.

[('GRENOBLE', -0.899999976158142)]

On peut avoir la valeur de n'importe quel pixel de la dalle en faisant varier les 2 derniers paramètres entre 86 et 81 :

In [72]:
%%sql
SELECT nom_com_m, ST_value(rast, 80, 85) as temp_min
FROM commune, wc21_30s_bio_6_france
WHERE nom_com_m = 'GRENOBLE' AND st_intersects(rast, st_centroid(geom));

   postgresql://fiorinhu:***@129.88.175.104/bd_fiorinhu
 * postgresql://fiorinhu:***@129.88.175.104/climate
1 rows affected.

[('GRENOBLE', -9.10000038146973)]

On peut utiliser des objets vectoriels pour géotraiter les raster. Par exemple en utilisant la fonction st_intersection(). Les objets obtenus sont de type 'geomval' (ici polygones représentant une même température) dont les valeurs sont accessibles par la notation pointée .val :

In [84]:
%%sql

-- Températures minimales à Grenoble

SELECT nom_com_m, st_astext((st_intersection(rast, geom)).geom) as geom, (st_intersection(rast, geom)).val
FROM commune, wc21_30s_bio_6_france
WHERE nom_com_m = 'GRENOBLE' AND st_intersects(rast, geom)
LIMIT 2;

   postgresql://fiorinhu:***@129.88.175.104/bd_fiorinhu
 * postgresql://fiorinhu:***@129.88.175.104/climate
2 rows affected.

[('GRENOBLE', 'POLYGON((5.725 45.20432873382765,5.725 45.2014318113973,5.724433262768306 45.20235058447614,5.724845033649382 45.20418028905256,5.725 45.20432873382765))', -1.29999995231628),
 ('GRENOBLE', 'POLYGON((5.725 45.2014318113973,5.725 45.20432873382765,5.725715426273733 45.20501405223308,5.731736506000121 45.20221267500756,5.733333333333333 45. ... (107 characters truncated) ... .20030735563494,5.725128193038445 45.200505584265926,5.725243592248952 45.20065052424945,5.725183139562152 45.20113491242902,5.725 45.2014318113973))', -1.39999997615814)]

La température minimale moyenne à Grenoble est obtenue par :

In [86]:
%%sql
-- Température minimale moyenne à Grenoble

DROP VIEW IF EXISTS decoupage_grenoble;

CREATE VIEW decoupage_grenoble AS
SELECT nom_com_m, (st_intersection(rast, geom)).val
FROM commune, wc21_30s_bio_6_france
WHERE nom_com_m = 'GRENOBLE' AND st_intersects(rast, geom);

SELECT nom_com_m, avg(val) AS moyenne_temp_min
FROM decoupage_grenoble
GROUP BY nom_com_m;

   postgresql://fiorinhu:***@129.88.175.104/bd_fiorinhu
 * postgresql://fiorinhu:***@129.88.175.104/climate
Done.
Done.
1 rows affected.

[('GRENOBLE', -0.988888879617055)]

De façon équivalente :

In [85]:
%%sql

-- Température minimale moyenne à Grenoble

WITH decoupage_grenoble AS (
SELECT nom_com_m, (st_intersection(rast, geom)).val
FROM commune, wc21_30s_bio_6_france
WHERE nom_com_m = 'GRENOBLE' AND st_intersects(rast, geom)
)
SELECT nom_com_m, avg(val) AS moyenne_temp_min
FROM decoupage_grenoble
GROUP BY nom_com_m;

   postgresql://fiorinhu:***@129.88.175.104/bd_fiorinhu
 * postgresql://fiorinhu:***@129.88.175.104/climate
1 rows affected.

[('GRENOBLE', -0.988888879617055)]

In [92]:
%%sql

-- Température maximale moyenne à Grenoble

WITH decoupage_grenoble AS (
SELECT nom_com_m, (st_intersection(rast, geom)).val
FROM commune, wc21_30s_bio_5_france
WHERE nom_com_m = 'GRENOBLE' AND st_intersects(rast, geom)
)
SELECT nom_com_m, avg(val) AS moyenne_temp_max
FROM decoupage_grenoble
GROUP BY nom_com_m;

   postgresql://fiorinhu:***@129.88.175.104/bd_fiorinhu
 * postgresql://fiorinhu:***@129.88.175.104/climate
1 rows affected.

[('GRENOBLE', 29.0076923370361)]

In [87]:
%%sql

-- Communes les plus froides
WITH decoupage_metro AS (
SELECT nom, (st_intersection(rast, geom)).val
FROM limites_communales_metro_epgs4326, wc21_30s_bio_6_france
WHERE st_intersects(rast, geom)
)
SELECT nom, avg(val) AS moyenne_temp_min
FROM decoupage_metro
GROUP BY nom
ORDER BY moyenne_temp_min ASC 
LIMIT 5;

   postgresql://fiorinhu:***@129.88.175.104/bd_fiorinhu
 * postgresql://fiorinhu:***@129.88.175.104/climate
5 rows affected.

[('Sarcenas', -4.12631576939633),
 ('Le Sappey-en-Chartreuse', -3.81034481936488),
 ('Proveysieux', -3.58867926417657),
 ('Saint-Barthélemy-de-Séchilienne', -3.47500001106943),
 ('Mont-Saint-Martin', -3.24705882633434)]

In [39]:
%%sql

-- Communes les plus chaudes
WITH valeur_des_differents_raster AS (
SELECT nom, (st_intersection(rast, geom)).val
FROM limites_communales_metro_epgs4326, wc21_30s_bio_5_france
WHERE st_intersects(rast, geom)
)
SELECT nom, avg(val) AS moyenne_temp_max
FROM valeur_des_differents_raster
GROUP BY nom
ORDER BY moyenne_temp_max DESC 
LIMIT 5;

   postgresql://fiorinhu:***@129.88.175.104/bd_fiorinhu
 * postgresql://fiorinhu:***@129.88.175.104/climate
5 rows affected.

[('Grenoble', 29.0160000610352),
 ('Échirolles', 28.8684209522448),
 ('Eybens', 28.8176471485811),
 ("Saint-Martin-d'Hères", 28.6999999046326),
 ('Le Pont-de-Claix', 28.5777776506212)]

In [88]:
%%sql

-- Communes les plus élevées
WITH decoupage_metro AS (
SELECT nom, (st_intersection(rast, geom)).val
FROM limites_communales_metro_epgs4326, wc21_30s_elev_france
WHERE st_intersects(rast, geom)
)
SELECT nom, avg(val) AS moyenne_altitude
FROM decoupage_metro
GROUP BY nom
ORDER BY moyenne_altitude DESC 
LIMIT 5;

   postgresql://fiorinhu:***@129.88.175.104/bd_fiorinhu
 * postgresql://fiorinhu:***@129.88.175.104/climate
5 rows affected.

[('Sarcenas', 1318.60869565217),
 ('Le Sappey-en-Chartreuse', 1229.13513513514),
 ('Proveysieux', 1132.16363636364),
 ('Mont-Saint-Martin', 1042.64705882353),
 ('Le Gua', 991.088235294118)]

In [89]:
%%sql

-- Communes les plus plates
WITH valeur_des_differents_raster AS (
SELECT nom, (st_intersection(rast, geom)).val
FROM limites_communales_metro_epgs4326, wc21_30s_elev_france
WHERE st_intersects(rast, geom)
)
SELECT nom, stddev(val) AS stddev_altitude
FROM valeur_des_differents_raster
GROUP BY nom
ORDER BY stddev_altitude ASC 
LIMIT 5;

   postgresql://fiorinhu:***@129.88.175.104/bd_fiorinhu
 * postgresql://fiorinhu:***@129.88.175.104/climate
5 rows affected.

[('Le Pont-de-Claix', 32.49102440162),
 ('Échirolles', 40.408829700779),
 ('Grenoble', 55.7453796155775),
 ('Champagnier', 61.6252464146878),
 ('Eybens', 63.4763156386602)]

Des modèles climatiques (par exemple CNRM-CM6-1 de Météo France) permettent d'estimer l'évolution du climat selon différents scénarios socio-économiques (Shared Socio-economic Pathways, SSPs: 126, 245, 370 et 585).

In [91]:
%%html
<iframe scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" style="display: initial; margin: 0 auto;" src="https://cbhighcharts2019.s3.eu-west-2.amazonaws.com/CMIP6/emissions+cmip6.html" width="770px" height="500px"></iframe><span style="display:block; height:22px; max-width:800px;"><a href="https://www.carbonbrief.org"><img src="https://s3.eu-west-2.amazonaws.com/cbhighcharts2019/cb-logo-highcharts.svg" style="width: 22px; height: 22px; margin-top: 2px; margin-bottom: 2px; float:right; background-repeat: no-repeat; background-size: contain;"/></a></span>

Sur la période 2020 - 2040, quelles sont les prévisions pour Grenoble ?

In [97]:
%%sql

-- Température maximale moyenne à Grenoble
-- wc21_25m_bioc_cnrm_cm61_ssp126_2021_2040_france est un raster multi-bande
-- Chacune des 19 bandes correspond à l'une des 19 variables bioclimatiques
-- bio5 = tmax
-- bio6 = tmin

WITH decoupage_grenoble AS (
SELECT nom_com_m, (st_intersection(geom, rast, 5)).val
FROM commune, wc21_25m_bioc_cnrm_cm61_ssp126_2021_2040_france
WHERE nom_com_m = 'GRENOBLE' AND st_intersects(rast, geom)
)
SELECT nom_com_m, avg(val) AS temp_max_ssp126
FROM decoupage_grenoble
GROUP BY nom_com_m;

   postgresql://fiorinhu:***@129.88.175.104/bd_fiorinhu
 * postgresql://fiorinhu:***@129.88.175.104/climate
1 rows affected.

[('GRENOBLE', 30.3333333333333)]

**Exercice :** déterminez t_max pour les autres scénarios. Faites de même pour t_min.